<!DOCTYPE html>
<html>
<head>
    <title>Health Data</title>
    <link rel="stylesheet" type="text/css" href=" static 'css/styles.css' ">
</head>
<body>
    <header>
        <h1>Health Data</h1>
    </header>
    <nav>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'upload' %}">Upload JSON File</a>
    </nav>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    <div class="file-list">
        <h2>Existing JSON Files</h2>
        <ul>
            {% for file in files %}
                <li>{{ file }}</li>
            {% empty %}
                <li>No files found</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
