<!DOCTYPE html>
<html>
<head>
    <!-- Устанавливает заголовок документа и подключает CSS-стиль -->
    <title>Upload JSON File</title>
    <!-- Подключает внешний CSS-файл для стилизации страницы -->
    <link rel="stylesheet" type="text/css" href=" static 'css/styles.css' ">
</head>
<body>
    <!-- Заголовок страницы -->
    <header>
        <h1>Upload JSON File</h1>
    </header>

    <!-- Навигационное меню для перехода на главную страницу -->
    <nav>
        <a href="{% url 'index' %}">Home</a>
    </nav>

    <!-- Форма для загрузки JSON-файла -->
    <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
        <!-- Токен CSRF для защиты от атак CSRF -->
        {% csrf_token %}
        <!-- Метка для поля выбора файла -->
        <label for="file">Choose a file:</label>
        <!-- Поле для выбора файла -->
        <input type="file" name="file" id="file">
        <!-- Кнопка для отправки формы -->
        <button type="submit">Upload</button>
    </form>
</body>
</html>


